<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title><%- title %></title>
    <link rel="stylesheet" href="../stylesheets/catatan_kebaktian/create.css">
    <script src="../javascripts/form.js" defer></script>
    <%- include('../partials/extraScripts'); %>
</head>

<body>
  <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
      <div class="container row-wrapper">
        <%- include('../partials/menu'); %>
          <div class="content col-wrapper">
            <div class="card-header row-wrapper">
              <h1>Buat Catatan Kebaktian</h1>
              <div class="button-wrapper">
                <button class="btn button-17" id="reset-button" onclick="resetForm()">Reset</button>
                <a href="javascript:history.back()" class="btn btn-warning button-17" id="cancel-button"
                  onclick="return confirm('Apakah Anda yakin untuk kembali ke halaman sebelumnya?')">Cancel</a>
              </div>
            </div>

            <div class="card-body col-wrapper">
              <div class="form col-wrapper">
                <%- include('../partials/form'); %>
              </div>
              <div class="form-button row-wrapper">
                <button class="btn btn-primary button-17" onclick="submitForm()" id="post-button">SIMPAN</button>
              </div>
            </div>
          </div>
      </div>
</body>

</html>